In [7]:
import numpy as np
import pandas as pd

# Data Cleaning for game details csv

In [31]:
games_details_data=pd.read_csv('./games_details.csv',)

games_details_data

/var/folders/58/_dppvzj90sq07gskltd_bqhc0000gn/T/ipykernel_4438/706264089.py:1: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  games_details_data=pd.read_csv('./games_details.csv',)

,GAME_ID,TEAM_ID,TEAM_ABBREVIATION,TEAM_CITY,PLAYER_ID,PLAYER_NAME,NICKNAME,START_POSITION,COMMENT,MIN,...,OREB,DREB,REB,AST,STL,BLK,TO,PF,PTS,PLUS_MINUS
0,22101005,1610612750,MIN,Minnesota,1630162,Anthony Edwards,Anthony,F,NaN,36:22,...,0.0,8.0,8.0,5.0,3.0,1.0,1.0,1.0,15.0,5.0
1,22101005,1610612750,MIN,Minnesota,1630183,Jaden McDaniels,Jaden,F,NaN,23:54,...,2.0,4.0,6.0,0.0,0.0,2.0,2.0,6.0,14.0,10.0
2,22101005,1610612750,MIN,Minnesota,1626157,Karl-Anthony Towns,Karl-Anthony,C,NaN,25:17,...,1.0,9.0,10.0,0.0,0.0,0.0,3.0,4.0,15.0,14.0
3,22101005,1610612750,MIN,Minnesota,1627736,Malik Beasley,Malik,G,NaN,30:52,...,0.0,3.0,3.0,1.0,1.0,0.0,1.0,4.0,12.0,20.0
4,22101005,1610612750,MIN,Minnesota,1626156,D'Angelo Russell,D'Angelo,G,NaN,33:46,...,0.0,6.0,6.0,9.0,1.0,0.0,5.0,0.0,14.0,17.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
645948,11200005,1610612743,DEN,Denver,202706,Jordan Hamilton,NaN,NaN,NaN,19,...,0.0,2.0,2.0,0.0,2.0,0.0,1.0,3.0,17.0,NaN
645949,11200005,1610612743,DEN,Denver,202702,Kenneth Faried,NaN,NaN,NaN,23,...,1.0,0.0,1.0,1.0,1.0,0.0,3.0,3.0,18.0,NaN
645950,11200005,1610612743,DEN,Denver,201585,Kosta Koufos,NaN,NaN,NaN,15,...,3.0,5.0,8.0,0.0,1.0,0.0,0.0,3.0,6.0,NaN
645951,11200005,1610612743,DEN,Denver,202389,Timofey Mozgov,NaN,NaN,NaN,19,...,1.0,2.0,3.0,1.0,0.0,0.0,4.0,2.0,2.0,NaN
645952,11200005,1610612743,DEN,Denver,201951,Ty Lawson,NaN,NaN,NaN,27,...,0.0,2.0,2.0,6.0,2.0,0.0,6.0,1.0,8.0,NaN

In [32]:
percent_missing = games_details_data.isnull().sum() * 100 / len(games_details_data)
percent_missing

games_details_data.drop(['NICKNAME','START_POSITION','COMMENT'],axis=1,inplace= True)
games_details_data.dropna(inplace=True)
games_details_data.drop_duplicates(subset=['GAME_ID','TEAM_ID','PLAYER_ID'],inplace=True)
games_details_data.to_csv('./game_details_modified.csv',index=False)

# Create players.csv using game details

In [34]:
players = games_details_data[['PLAYER_ID','PLAYER_NAME']]
players.drop_duplicates(subset=['PLAYER_ID'],inplace=True)
players.to_csv('./players.csv',index=False)

/var/folders/58/_dppvzj90sq07gskltd_bqhc0000gn/T/ipykernel_4438/2055661424.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  players.drop_duplicates(subset=['PLAYER_ID'],inplace=True)

#  Data Cleaning for game csv

In [35]:
games_data=pd.read_csv('./games.csv')

percent_missing_games = games_data.isnull().sum() * 100 / len(games_data)


unique_games=games_data.drop_duplicates(subset='GAME_ID', keep="first")
print(games_data.nunique())
percent_missing_games
unique_games.to_csv('./games_modified.csv',index=False)
games_data.drop(['GAME_STATUS_TEXT','TEAM_ID_home','VISITOR_TEAM_ID','FG_PCT_home','FG_PCT_away'],axis=1).to_csv('./games_modified.csv',index=False)

GAME_DATE_EST        4149
GAME_ID             25767
GAME_STATUS_TEXT        1
HOME_TEAM_ID           30
VISITOR_TEAM_ID        30
SEASON                 19
TEAM_ID_home           30
PTS_home              100
FG_PCT_home           399
FT_PCT_home           403
FG3_PCT_home          427
AST_home               42
REB_home               55
TEAM_ID_away           30
PTS_away              106
FG_PCT_away           390
FT_PCT_away           380
FG3_PCT_away          409
AST_away               41
REB_away               52
HOME_TEAM_WINS          2
dtype: int64

#  Data Cleaning for ranking csv

In [37]:
ranking_data=pd.read_csv('./ranking.csv')

percent_missing_ranking = ranking_data.isnull().sum() * 100 / len(ranking_data)
percent_missing_ranking
ranking_data.drop_duplicates(subset=['TEAM_ID','SEASON_ID','STANDINGSDATE'],inplace=True)


ranking_data.drop(['RETURNTOPLAY','LEAGUE_ID'],axis=1).to_csv('./ranking_modified.csv',index=False)

# Data Cleaning for teams csv

In [18]:
teams_data=pd.read_csv('./teams.csv')
teams_data
percent_missing_teams= teams_data.isnull().sum() * 100 / len(teams_data)
percent_missing_teams
teams_data.drop(['LEAGUE_ID'],axis=1).to_csv('./teams_modified.csv',index=False)